<ion-header>
  <ion-toolbar>
    <ion-title>list-orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="orders && orders.length">
    <ion-card *ngFor="let order of orders" button [routerLink]="['/order-details/', order.order_id]">
      <ion-card-header>
        <ion-card-title>{{order.pick_up_time}}</ion-card-title>
        <ion-card-subtitle>{{order.status}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label><strong>PICK UP</strong></ion-label>
        <br>
        <ion-label>{{ order.pickup.pick_recipient_address}}</ion-label>
        <br>
        <ion-label><strong>DROP OFF</strong></ion-label>
        <br>
        <ion-label>{{order.dropoff.drop_recipient_address}}</ion-label>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
