<ion-header>
  <ion-toolbar>
    <ion-title>order-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngIf="orderDetails">
    <ion-card-header>
      <ion-card-title>Order Number #{{ orderDetails.order_id }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="orderDetails.driver_id">Driver ID: {{ orderDetails.driver_id }}</p>
      <p>Status: {{ orderDetails.status }}</p>
      <p>Delivery mode: {{ orderDetails.delivery_mode }}</p>
      <p *ngIf="orderDetails.delivery_cost">Delivery cost: {{ orderDetails.delivery_cost }}</p>
      <p>Created date: {{ orderDetails.created_date }}</p>
      <p>Pick-up time: {{ orderDetails.pick_up_time }}</p>
      <p *ngIf="orderDetails.distance_KM">Distance (KM): {{ orderDetails.distance_KM }}</p>
      <p *ngIf="orderDetails.est_deliver_time_min">Estimated delivery time (min): {{ orderDetails.est_deliver_time_min }}</p>
      <p *ngIf="orderDetails.remark">Remark: {{ orderDetails.remark }}</p>
      
      <h3><strong>Pick up</strong></h3>
      <!-- <p>Name: {{ orderDetails.pickup.pick_recipient_name }}</p> -->
      <p>Address:</p>
      <p> {{ orderDetails.pickup.pick_recipient_address }}, {{ orderDetails.pickup.pick_recipient_city }}, {{ orderDetails.pickup.pick_recipient_county }}, {{ orderDetails.pickup.pick_recipient_eircode }}</p>
      <!-- <p>Phone: {{ orderDetails.pickup.pick_recipient_phone }}</p> -->
      <h3><strong>Drop off</strong></h3>
      <!-- <p>Name: {{ orderDetails.dropoff.drop_recipient_name }}</p> -->
      <p>Address: </p>
      <p> {{ orderDetails.dropoff.drop_recipient_address }}, {{ orderDetails.dropoff.drop_recipient_city }}, {{ orderDetails.dropoff.drop_recipient_county }}, {{ orderDetails.dropoff.drop_recipient_eircode }}</p>
      <!-- <p>Phone: {{ orderDetails.dropoff.drop_recipient_phone }}</p> -->
      <h3><strong>Payment</strong></h3>
      <p>Payment type: {{ orderDetails.payment.payment_type }}</p>
      <p *ngIf="orderDetails.payment.payer">Payer: {{ orderDetails.payment.payer }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>